:root {
    --main-color: #69D0C1;
  }
  
  
  @font-face {
    font-family: 'Circular-Bold';
    src: url('../tipography/CircularStd-Bold.ttf')
  }
  @font-face {
    font-family: 'Circular-Book';
    src: url('../tipography/CircularStd-Book.ttf')
  }
  @font-face {
    font-family: 'Cereal-Medium';
    src: url('../tipography/CircularStd-Medium.ttf')
  }
  @font-face {
    font-family: 'Cereal-Light';
    src: url('../tipography/CircularStd-Black.ttf')
  }
  
  html {
    height: 100vh;
  }

  body {
    background-color: #ffffff;
    background-image: url("../images/Background-pattern.png");
    height: 100vh;
    font-family: 'Circular-Book', Arial, sans-serif;
  }
  
  .main-nav {
    height: 10vh;
    height: 12vh;
    width: 100vw;
    background-color: black;
    background-image:url("../images/header-img.png");
    background-repeat: no-repeat;
    
    background-position: center;
    -webkit-box-shadow: 2px -3px 28px 1px rgba(1,4,64,1);
    -moz-box-shadow: 2px -3px 28px 1px rgba(1,4,64,1);
    box-shadow: 2px -3px 28px 1px rgba(1,4,64,1);
  }
  
  .logo {
    width: 190px;
    margin-left: -12px;
  }

  .main-nav {
    padding-left: 8vw;
    padding-right: 8vw;
    margin: 0 !important;
  }
  
  .section {
    padding-left: 8vw;
    padding-right: 8vw;
    display: flex;
    flex-wrap: wrap;
  }
  
  .navbar-expand-lg {
    width: 100%;
  }
  
  .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
  }
  
  ul.navbar-nav {
    color: ;
    margin-right: 20px !important;
  }

  
  .navbar-collapse.navbar-content.links.collapse.show{
    background-color: #000000;
    text-align: right;
    width: 30%;
  
  }

  .sections{
    color: #ffffff;
    font-family: 'Circular-Book';
    font-size: 16px;
    text-decoration: none;
  
  }
  .nav-item.sections .nav-link{
    color: #FFFFFF;
  }
  .nav-item.sections:hover .nav-link {
    color: #5D538A !important;
  }
  
  .nav-link.active {
    color: #5D538A !important;
  }
  
  .elements{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    align-content: space-between;
    padding-top: 40px;
  }




  
  
  
  h1 {
    font-family: "Circular-Bold";
    font-size: 5vw;
    color: #5D538A;
  }
  h2 {
    font-family: "Circular-Bold";
    font-size: 2.4vw;
    color: #5D538A;
    margin-bottom: 0;
  }
  h3 {
    font-family: "Circular-Book";
    font-size: 1.55vw;
    color: #5D538A;
    line-height: 2.4vw;
    margin-bottom: 0;
  }
  p {
    font-family: "Circular-Book";
    font-size: 1.2vw;
    color: #5D538A;
  }
  


.button-primary {
    background-color: #5D538A;
    border-radius: 8px;
    color: #ffffff;
    width: 261px;
    height: 72px;
    border: none;
    font-family: 'Circular-Book';
    letter-spacing: 0.1;
    font-size: 19px;
    margin-top: 6vh;
  }

.button-primary:hover {
    background-color: #000000;
    text-decoration: none;
    color: white;
    cursor:hand;
  }

  
   
header{
    width: 100%;
    position: fixed;
    z-index: 100;
  }
  
  

  

/* home */

.section-home{
  padding-top: 20vh;
  height: 100vh;
  padding-left: 8vw;
  padding-right: 8vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.rrss{
      display: flex;
      flex-direction: row;
      padding-top: 50px;
  
    }
.rrss img{
      width: 40px;
      margin-right: 15px;
      -webkit-filter: #5D538A;
      filter: #5D538A;
  
    }
.rrss img:hover{
      opacity: .5;
      transition: opacity .5s ease-out;
      -moz-transition: opacity .5s ease-out;
      -webkit-transition: opacity .5s ease-out;
      -o-transition: opacity .5s ease-out;
    }

/* PROJECT GALLERY */
  
.project-galery {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  
  height: 60vh;
  align-content: flex-start;
}

.project-item {
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  box-sizing: border-box;
  width: 19.5vw;
  margin: 8px;
  border-radius: 10px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.08), 0 1px 10px 0 rgba(0, 0, 0, 0.08), 0 2px 4px -1px rgba(0, 0, 0, 0.08);
}

.project-item.large1 {
  height: 19.5vw;
  background-image: url('../images/spotify-mockup.png');
}.project-item.large2 {
  height: 19.5vw;
  background-image: url('../images/DeAqui-Mockup.png');
}.project-item.large3 {
  height: 19.5vw;
  background-image: url('../images/TeamUp-mockup.png');
}.project-item.large4 {
  height: 19.5vw;
  background-image: url('../images/lowproject04.png');
}
.card-image {
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 416px;
  box-shadow: 0 3px 8px #DADADA;
}
.card-image.one {
  background-image: url('../images/card1.svg')
}
.card-info {
  width: 100%;
  height: 100%;
  background-color: rgba(105,208,193,0.9);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  text-align: left;
  padding: 5% 6%;
  opacity: 0;
}.one {
  width: 100%;
  height: 100%;
  background-color: #000000;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  text-align: left;
  padding: 5% 6%;
  opacity: 0;
  border-radius: 10px;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
}
.project-item a{
  text-decoration: none;
}
.project-item a:hover > .card-info {
  opacity: 0.8;
}
.card-info h2 {
  font-weight: bold;
  font-family: 'Cereal-Bold', Arial, sans-serif;
  font-size: 1.3vw;
  color: #fff;
}
.hover-description{
  font-size: 1.2vw;
  color: white;
}

/* como diseño */ 

.section-comodiseno {
  padding-top: 22vh;
  margin-bottom: 40vh;
  height: 100vh;
  padding-left: 8vw;
  padding-right: 8vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;

}
.user-experience {
  width: 40vw;
  height: 100vh;
  order: 1;
}
.subtitle {
  margin: 5vh 0 0 0;
}
.text{
  margin-top: 5vh;
}

.user-experience-image{
    width: 40%;
    height: 665px;
    background-image: url("../images/design-thinking.png");
    background-size: 100%;
    box-shadow: 0 3px 8px #DADADA;
    border-radius: 10px;
    order: 2;
}
  

  
.section3 {
    padding-top: 22vh;
    margin-bottom: 24vh;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
  
  .section4 {
    padding-top: 22vh;
    height: 100vh;
  }
  


  
  .cards {
    box-shadow: 0 3px 8px #DADADA;
    margin:4px;
  
  }
  
  .title{
    font-family: 'Circular-Bold';
    margin-bottom: 0;
  }
  
  /* bio */
  .section-bio {
    padding-top: 22vh;
    margin-bottom: 40vh;
    height: 100vh;
    padding-left: 8vw;
    padding-right: 8vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
  
  }
  .content-about{
    width: 50%;
    margin-bottom: 6vh;
    text-align: left;
  }
  .past {
    width: 40%;
    margin: 0 0;
    display: flex;

  }
  .profcards {
    
    padding-left: 0;
    padding-top: 10px ;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .linkedin{
    height: 112px;
    padding-top: 10px;
    
  }
  
  .experience-wrapper {
    width: 50%;
    padding-right: 10px;
    padding-bottom: 10px;
  }
  
  .experience-wrapper img {
    width: 100%;
    box-shadow: 0 3px 8px #DADADA;
    border-radius: 10px;
  }

  .title-green{
    text-decoration: none;
    color: #5D538A;
  }
  .title-green:hover{
    text-decoration: none;
    color: #783B47;
  }
  
  
  

  
/* Contacto */
  .contacto {
  padding-left: 8vw;
  padding-right: 8vw;  
  padding-top: 22vh;
  margin-bottom: 30vh;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  }

  .left-contact-wrapper {
    width: 50%;
    background-image: url(../images/jorge-montero-image.png);
    background-repeat: no-repeat;
    background-size: 100%;

  }
  
  .right-contact-wrapper {
    width: 50%;
  }
  
  .form form {
    margin-top: 2vh;
    margin-bottom: 30px;
    width: 38.7vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .input-name, .input-email{
  width: 49%;
  height: 7vh;
  margin:0 0 2vh 0;
  border-radius: 4px;
  font-family: 'Circular-Book';
  -webkit-appearance: textfield;
  background-color: #F7F7F7;
  -webkit-rtl-ordering: logical;
  cursor: text;
  padding: 1px;
  border-width: 0px;
  color: #373737;
  padding-left: 8px;
  }
  

  
  
  .input-topic {
  width: 100%;
  height: 7vh;
  margin:0 0vw 2vh 0;
  border-radius: 4px;
  font-family: 'Circular-Book';
  -webkit-appearance: textfield;
  background-color: #F7F7F7;
  -webkit-rtl-ordering: logical;
  cursor: text;
  padding: 1px;
  border-width: 0px;
  padding-left: 8px;
  }
  
  .input-content {
  width: 100%;
  height: 14vh;
  margin:0 0 2vh 0;
  border-radius: 4px;
  font-family: 'Circular-Book';
  -webkit-appearance: textfield;
  background-color: #F7F7F7;
  -webkit-rtl-ordering: logical;
  cursor: text;
  padding: 1px;
  border-width: 0px;
  padding-left: 8px;
  }

  .footer{
    margin-top: 60px;
    height: 10vh;
    height: 12vh;
    width: 100vw;
    background-color: black;
    background-image:url("../images/header-img.png");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-box-shadow: 2px -3px 28px 1px rgba(1,4,64,1);
    -moz-box-shadow: 2px -3px 28px 1px rgba(1,4,64,1);
    box-shadow: 2px -3px 28px 1px rgba(1,4,64,1);

    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .footer h3{
    margin:auto;
    color: #ffffff
  }

   /* CASE */
   .paragraph{
     text-align: center;
     padding-top: 100px;
     display: flex;
     flex-direction: column;
   }
   .paragraph img{
      width: 60%;
      margin: auto;
      padding-top: 20px;
   }

   .paragraph iframe{
     width:70%;
     padding-top: 30px;
     margin:auto;
   }
   .text-content{
      padding-top: 10px;
      width: 70%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
   }
   .content-left{
    width: 50%;
    margin-right: 10px;
   }
   .content-right{
     width: 50%;
     margin-left:10px;
   }